* {
  font-family: "Inter", sans-serif;
}
body {
  margin: 0;
  padding: 0;
  background-color: white;
  overflow-x: hidden;
}

p {
  margin: 0;
  padding: 0;
}
.main {
  padding: 0px 30px;
  margin-top: 100px;
}
.title {
  font-size: 44px;
  color: #333;
  margin: 20px 0;
}
.bold-text {
  font-weight: 800;
}

html {
  scroll-behavior: smooth;
}
